#navbar {
    height: 100px;
}

.fade-in-out {
	animation: fadeinout 5s linear forwards;
  	opacity: 0;
}

@keyframes fadeinout {
  20% { opacity: 1; } /* fade in */
  80% { opacity: 1; } /* stay at full visibility */
  100% { opacity: 0; } /* fade out */
}

.alert-error {
    color: #842029;
    background-color: #f8d7da;
    border: #f5c2c7;
}

.registration_success {
    color: green;
    transition: all ease-in .5s;
}

.registration_error {
    color: red;
    font-size: 50px;
    transform: rotate(45deg);
    transition: all ease-in 2s;
}