<div class="align-center col-10 offset-1">
        <div class="d-flex justify-content-between align-items-center">
            <p class="lead ml-0">My Films</p>
            <form class="d-flex align-items-center">
                {% csrf_token %}
                <input id="filmname" type="text" name="filmname" class="form-control-sm mr-2" placeholder="Enter a film">
                <button hx-post="{% url 'add-film' %}" hx-target="#film-list"
                        type="submit" class="btn btn-success btn-sm">Add Film</button>
            </form>
        </div>
    </div>
    <hr>


<div class="d-flex justify-content-between">
    <section class="col-6">

        {% if messages %}
            {# clear message after 5 seconds; mind fade-in-out style for % transitions #}
            {# after we show message (aka it loads), send get request to 'clear' url, i.e. empty string #}
            <ul class="messages" hx-get="{% url 'clear' %}" hx-trigger="load delay:5s">
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-{{ message.tags }} fade-in-out"{% endif %}>
                        {{ message }}
                    </div>
                {% endfor %}
            </ul>
        {% endif %}

        {% if films %}
            {% csrf_token %}
            {# form source: https://htmx.org/examples/sortable/#}
            <form class="sortable list-group col-12" hx-trigger="end" hx-post="{% url 'sort' %}" hx-target="#film-list">
                {# Shows a message mid-drag #}
                <div class="htmx-indicator">Updating...</div>
                    {% include 'partials/film-list-elements.html' %}
            </form>
        {% else %}
            <p>You do not have any films in your list</p>
        {% endif %}
    </section>

    <section>
        {% include "partials/search.html" %}
    </section>

</div>